<header class="header">
  <h1 class="header-logo">Rails Socket Chat Sample via ActionCable</h1>
  <ul class="header-nav">
    <% if logged_in? %>
    <li><%= link_to "Sign out", logout_path, method: :delete %>
    <% end %>
  </ul>
</header>